* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f5f5f5;
    color: #1B1C1E;
}

header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 20px 0px 20px;
}

header div:first-child {
    display: flex;
    gap: 8px;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    place-items: center;
}


h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}