.note {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    gap: 12px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px 0px #00000012;

}

.note .header {
    display: flex;
    justify-content: space-between;
}

.note .header div:first-child {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.8px;
    color: #1B1C1E;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note .header .icons {
    display: flex;
    gap: 8px;
}

.note .header .icons img {
    cursor: pointer;
    max-height: 24px
}

.note p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: #3B3C3E;
    overflow: hidden;
    text-overflow: ellipsis;
    /* overflow-wrap: break-word;
    white-space: normal; */

}

.note .date {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
}